/***************/
/* YOUR STYLES */
/***************/

body {
    background-color: #89B6FF;
}

/* Color Palette */

.color-1 {
    background-color: #FFF96D;
    border: none;
    
}
.color-2 {
    background-color: #E86E62;
    border: none;
}
.color-3 {
    background-color: #7994FF;
    border: none;
}
.color-4 {
    background-color: #7AE863;
    border: none;
}
.color-5 {
    background-color: #FF870E;
    border: none;
}

/* Textures or Patterns*/

.pattern-1 {
    border: none;
}

.pattern-2 {
    border: none;
}

.pattern-3 {
    border: none;
}

.pattern-4 {
    border: none;
}

.pattern-5 {
    border: none;
}
/* Imagery */
.imagery-1 {
    border: none;
    padding: 10px;
}

.imagery-2 {
    border: none;
    padding: 10px;
}

.imagery-3 {
    border: none;
    padding: 10px;
}

.imagery-4 {
    border: none;
    padding: 10px;
}

.imagery-5 {
    border: none;
    padding: 10px;
}

/* Icons */
.icon-1 {
    border: none;
}

.icon-2 {
    border: none;
}

.icon-3 {
    border: none;
}

.icon-4 {
    border: none;
}

.icon-5 {
    border: none;
}

/* Navigation */
button {
    background-color:  cadetblue;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    font-family:  sans-serif;
    text-transform: capitalize;
    border-radius: 10px;
}

nav {
    font-family: 'lato', arial, serif; 
    font-weight: 700;
    text-decoration: none;
    color: royalblue;
    padding: 10px;
    
     
}


/* Typography */
h1 {
    font-family: 'lato', Arial, serif; font-weight: 700;
}

h2 {
    font-family: 'lato', Arial, serif; font-weight: 400;
}
p {
 font-family: 'Slabo+27px', Arial, serif; font-weight: 400; 
}

